.header {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
}

.header img {
    width: 100px;
    border-radius: 50%;
    margin: 10px 10px;
}

.header p {
    font-size: 32px;
    font-weight: 600;
    color: #143e54;
}