.banner-overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 20000000;
    top: 0;
}

.banner-container {
    position: absolute;
    border: 2px solid #b7b16b;
    background: rgba(20,62,84,0.8);
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;

    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.banner-container h1 {
    color: #b7b16b;
    font-size: 56px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.banner-container .subtitle {
    color: #b7b16b;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    margin-bottom: 48px;
}

.banner-container .content {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
}

.banner-container .cta {
    background: transparent;
    color: #b7b16b;
    border: 2px solid #b7b16b;
    padding: 5px;
    border-radius: 8px;
}